<!-- NAV -->
  <header class="navbar">
    <div class="nav-wrap">
      <div class="brand">
        <img src="images/logo.png" alt="Women Fortune Tech logo">
        <h1>Women Fortune Tech</h1>
      </div>

      <!-- Hamburger Button (mobile only) -->
    <button class="nav-toggle" aria-label="Open navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>


      <nav aria-label="Main navigation">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li><a  href="about.html">About</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="moment.html">Moments of Empowerment</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="index.html#internship" class="cta-nav">Apply for Internship</a></li>
        </ul>
      </nav>
    </div>
  </header>